.edit EDIT
.save SAVE
.wrap
  #sec_1.brand.editable This is a title
  #sec_2.editable
    %h1.catch Playing with content editable
    %hr/
    %p Donec vitae molestie nulla, vel fermentum eros. Praesent vel augue magna. Mauris viverra tellus non elit ultricies, ac feugiat velit mollis. Ut nec ultricies felis. Pellentesque rhoncus risus sit amet elit tempor vestibulum. Curabitur mollis sollicitudin lacinia. Maecenas vel nibh et leo ultrices venenatis nec feugiat leo. Aliquam lobortis lectus neque.
    %p Donec vitae molestie nulla, vel fermentum eros. Praesent vel augue magna. Mauris viverra tellus non elit ultricies, ac feugiat velit mollis. Ut nec ultricies felis. Pellentesque rhoncus risus sit amet elit tempor vestibulum. Curabitur mollis sollicitudin lacinia. Maecenas vel nibh et leo.

  %hr/

  %h4#sec_3.editable This is a demo title
  #sec_4.license.editable
    %p
      %b MIT Licensing
    %p Copyright (c) 2013 bla bla bla
    %p Aliquam pharetra placerat massa ut ultricies. In vel lacus in mi sagittis sodales id vel purus. Quisque lobortis eget sem sit amet bibendum. Vivamus in vulputate enim, sed semper neque. Nullam iaculis nisi et leo fringilla, ac rutrum lorem convallis. Duis eu nisi vitae purus rutrum sollicitudin. Aenean porttitor dolor in turpis hendrerit luctus. Vestibulum.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis consequat metus at tristique. Sed gravida, arcu ac sollicitudin tincidunt, purus neque ullamcorper orci, sed euismod metus libero ac lectus. Sed sed velit bibendum, mollis nibh a, pellentesque ante. Etiam justo turpis, fermentum quis elit sed, vulputate fringilla massa. Suspendisse tellus mi, tempor ac sodales a, ultricies ut velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam tempor nunc turpis, eu varius leo egestas id. Nam in vestibulum sem.